<!DOCTYPE html>
<html style="background: #000000;color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>go-imagesharing</title>
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="public/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="public/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="public/assets/css/styles.css">
</head>

<body oncontextmenu="return false;" style="background: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgba(255,255,255,0);color: rgb(255,255,255);">
        <div class="container"><a class="navbar-brand" href="#">go-imagesharing</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/logout" style="color: rgb(255,255,255);">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="photo-gallery" style="background: rgb(0,0,0);color: rgb(255,255,255);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">go-imagesharing</h2>
                <p class="text-center" style="color: rgb(255,255,255);">Der Download der angezeigten Bilder ist nur für Familien interne Zwecke freigegeben.<br></p>
                <p class="text-center" style="color: rgb(255,255,255);">Ein Weitergeben der Bilder an dritte Personen/Parteien ist nicht gestattet.<br>Auch dürfen die Bilder nicht auf SocialMedia-Plattformen wie z. B. Facebook, WhatsApp, Telegram, Twitter, etc. veröffentlicht werden.</p>
                <p class="text-center" style="color: rgb(255,255,255);">Ein Verstoß der oben genannten Punkte wird mit Ausschluss aus dieser Plattform geahndet. Das bedeutet: Bilder können nicht mehr eingesehen/heruntergeladen werden.<br></p>
            </div>
            <form method="post" name="dl-form">
                <div class="form-row photos">
                {{ range $key, $value := .}}
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="public/img/{{ $value.Name }}"><img class="img-fluid" src="public/img/{{ $value.Name }}"></a>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-{{ $key }}" name="dl-form" value="{{ $value.Name }}"><label class="form-check-label" for="formCheck-{{ $key }}">Zum Download auswählen</label></div>
                    </div>
                {{ end }}
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Download</button>
            </form>
        </div>
    </div>
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>