<!DOCTYPE html>
<html style="background: #000000;color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>go-imagesharing</title>
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="public/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="public/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="public/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="public/assets/css/styles.css">
</head>

<body style="background: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgba(255,255,255,0);color: rgb(255,255,255);">
        <div class="container"><a class="navbar-brand" href="#">go-imagesharing</a></div>
    </nav>
    <div class="login-dark" style="background: rgb(0,0,0);">
        <form method="post">
            <h3>go-imagesharing</h3>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Benutzername"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Passwort"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
        </form>
    </div>
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>